@import "tailwindcss";

#root{
    font-family: 'SamsungOne', arial, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}


/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
    /* margin-right: -0.83333333vw;
    margin-left: -0.83333333vw; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}