@import "tailwindcss";

#root{
    font-family: 'SamsungOne', arial, sans-serif;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
    margin-right: -0.83333333vw;
    margin-left: -0.83333333vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}